<!-- Default -->
<div
    class="cta-area border-bottom border-top"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-lg-6 col-md-12 px-0">
                <div class="cta-content">
                    <div class="content">
                        <h2 class="text-uppercase fw-semibold">
                            Unlock Your Language Potential
                        </h2>
                        <p>
                            Embark on an exhilarating journey to discover the joy of mastering multiple languages through our immersive.
                        </p>
                        <div class="btn-box">
                            <a routerLink="/courses" class="default-btn">
                                Enroll Now
                            </a>
                            <a routerLink="/contact" class="default-btn">
                                Contact Us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 px-0">
                <div class="cta-image">
                    <img src="images/cta.jpg" alt="cta-image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Only for Home Demo - 3 -->
<div
    class="cta-area bg-color"
    *ngIf="router.url === '/index-3'"
>
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-lg-6 col-md-12 px-0">
                <div class="cta-content-two position-relative">
                    <h2 class="mb-0 fw-semibold text-uppercase">
                        Catalyze Your Language Learning Journey Explore Opportunities to Flourish and Connect
                    </h2>
                    <a routerLink="/contact" class="link-btn d-inline-block text-center rounded-circle fw-medium">
                        <span class="d-block">
                            Contact Us
                        </span>
                        <img src="images/icons/diagonal-arrow-right-up.svg" alt="diagonal-arrow-right-up">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 px-0">
                <div class="cta-image-two">
                    <img src="images/cta2.jpg" alt="cta-image">
                </div>
            </div>
        </div>
    </div>
</div>