<app-navbar />

<app-page-banner />

<div class="pb-120 border-bottom"></div>

<!-- Contact Info -->
<!-- <div class="contact-info-area bg-f3f3f3 ptb-120">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-lg-8 col-md-12 px-0">
                <div class="contact-info-content">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="box">
                                    <h3 class="fw-semibold">
                                        New York Office
                                    </h3>
                                    <ul class="p-0 m-0 list-unstyled">
                                        <li class="position-relative">
                                            <img src="images/icons/office.svg" alt="office">
                                            387 Rhode Island AvenueBeltsville, DC 20705
                                        </li>
                                        <li class="position-relative">
                                            <img src="images/icons/email2.svg" alt="office">
                                            <a href="mailto:newyorkoff@email.com">newyorkoff&#64;email.com</a>
                                            <br>
                                            <a href="mailto:newyorkoff1@email.com">newyorkoff1&#64;email.com</a>
                                        </li>
                                        <li class="position-relative">
                                            <img src="images/icons/bv.svg" alt="office">
                                            <a href="tel:+123 456 7890">+123 456 7890</a>
                                            <br>
                                            <a href="tel:+123 456 78910">+123 456 78910</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="box">
                                    <h3 class="fw-semibold">
                                        Hungary Office
                                    </h3>
                                    <ul class="p-0 m-0 list-unstyled">
                                        <li class="position-relative">
                                            <img src="images/icons/office.svg" alt="office">
                                            3653 SajópüspökiSzent Gellért tér 44.
                                        </li>
                                        <li class="position-relative">
                                            <img src="images/icons/email2.svg" alt="office">
                                            <a href="mailto:newyorkoff@email.com">newyorkoff&#64;email.com</a>
                                            <br>
                                            <a href="mailto:newyorkoff1@email.com">newyorkoff1&#64;email.com</a>
                                        </li>
                                        <li class="position-relative">
                                            <img src="images/icons/bv.svg" alt="office">
                                            <a href="tel:+123 456 7890">+123 456 7890</a>
                                            <br>
                                            <a href="tel:+123 456 78910">+123 456 78910</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="box">
                                    <h3 class="fw-semibold">
                                        Netherlands Office
                                    </h3>
                                    <ul class="p-0 m-0 list-unstyled">
                                        <li class="position-relative">
                                            <img src="images/icons/office.svg" alt="office">
                                            Ruigeweg 11752 HC Sint Maartensbrug
                                        </li>
                                        <li class="position-relative">
                                            <img src="images/icons/email2.svg" alt="office">
                                            <a href="mailto:newyorkoff@email.com">newyorkoff&#64;email.com</a>
                                            <br>
                                            <a href="mailto:newyorkoff1@email.com">newyorkoff1&#64;email.com</a>
                                        </li>
                                        <li class="position-relative">
                                            <img src="images/icons/bv.svg" alt="office">
                                            <a href="tel:+123 456 7890">+123 456 7890</a>
                                            <br>
                                            <a href="tel:+123 456 78910">+123 456 78910</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="box">
                                    <h3 class="fw-semibold">
                                        Belgium Office
                                    </h3>
                                    <ul class="p-0 m-0 list-unstyled">
                                        <li class="position-relative">
                                            <img src="images/icons/office.svg" alt="office">
                                            Rue Jean Lorette 3245651 Thy-le-Château
                                        </li>
                                        <li class="position-relative">
                                            <img src="images/icons/email2.svg" alt="office">
                                            <a href="mailto:newyorkoff@email.com">newyorkoff&#64;email.com</a>
                                            <br>
                                            <a href="mailto:newyorkoff1@email.com">newyorkoff1&#64;email.com</a>
                                        </li>
                                        <li class="position-relative">
                                            <img src="images/icons/bv.svg" alt="office">
                                            <a href="tel:+123 456 7890">+123 456 7890</a>
                                            <br>
                                            <a href="tel:+123 456 78910">+123 456 78910</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 px-0">
                <div class="contact-info-image">
                    <img src="images/contact.jpg" alt="contact-info-image">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Contact Info -->

<app-contact />



<app-back-to-top />