<!-- Default -->
<div
    class="why-us-area"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-lg-6 col-md-12 px-0">
                <div class="why-us-image">
                    <img src="images/why-us/why-us1.jpg" alt="why-us-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 px-0">
                <div class="why-us-content">
                    <div class="content">
                        <h2 class="fw-semibold text-uppercase">
                            Unraveling the Unique WHY US
                        </h2>
                        <ul class="features-list ps-0 mb-0 list-unstyled">
                            <li class="d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <img src="images/icons/expert.svg" alt="expert">
                                </div>
                                <div>
                                    <h3 class="fw-semibold">
                                        Expert Faculty
                                    </h3>
                                    <p>
                                        Emphasize the qualifications and expertise of your instructors. Highlight their experience.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <img src="images/icons/small.svg" alt="small">
                                </div>
                                <div>
                                    <h3 class="fw-semibold">
                                        Small Class Sizes
                                    </h3>
                                    <p>
                                        Emphasize the qualifications and expertise of your instructors. Highlight their experience.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <img src="images/icons/learning.svg" alt="learning">
                                </div>
                                <div>
                                    <h3 class="fw-semibold">
                                        Immersive Learning
                                    </h3>
                                    <p>
                                        Emphasize the qualifications and expertise of your instructors. Highlight their experience.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Only for Home Demo - 2 -->
<div
    class="why-us-area ptb-120 bg-f6ffeb"
    *ngIf="router.url === '/index-2'"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="why-us-img position-relative">
                    <img src="images/why-us/why-us2.jpg" alt="why-us-img">
                    <div class="box">
                        <h3 class="lh-1 text-uppercase">
                            SINCE 2002
                        </h3>
                        <p>
                            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="why-us-text">
                    <h2 class="text-uppercase fw-semibold">
                        Why lanklub? Exceptional Language Education, Every Time
                    </h2>
                    <div class="features-list">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="box position-relative">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="images/icons/expert2.svg" alt="expert">
                                    </div>
                                    <h3 class="fw-medium">
                                        Expert Faculty
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="box position-relative">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="images/icons/small2.svg" alt="small">
                                    </div>
                                    <h3 class="fw-medium">
                                        Small Class Sizes
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="box position-relative">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="images/icons/learning2.svg" alt="learning">
                                    </div>
                                    <h3 class="fw-medium">
                                        Immersive Learning
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <img src="images/why-us/why-us3.jpg" alt="why-us-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Only for Home Demo - 3 -->
<div
    class="why-lanklub-area overflow-hidden ptb-120"
    *ngIf="router.url === '/index-3'"
>
    <div class="container-fluid px-0">
        <div class="row align-items-center mx-0">
            <div class="col-lg-4 col-md-12 px-0">
                <div class="why-lanklub-image position-relative">
                    <div class="content">
                        <div class="text lh-1 text-uppercase fw-bold">
                            multilingual
                        </div>
                    </div>
                    <div class="image position-relative">
                        <img src="images/why-lanklub.jpg" alt="why-lanklub-image">
                        <button
                            type="button"
                            (click)="openPopup()"
                            class="video-btn border-0 p-0 popup-youtube rounded-circle d-flex align-items-center justify-content-center"
                        >
                            <i class="fa-solid fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 px-0">
                <div class="why-lanklub-content">
                    <h2 class="fw-semibold text-uppercase">
                        Why lanklub? Exceptional Language Education, Every Time
                    </h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                    </p>
                    <div class="features-list">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="box d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="images/icons/expert3.svg" alt="expert">
                                    </div>
                                    <div>
                                        <h3 class="fw-medium">
                                            Expert Faculty
                                        </h3>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="box d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="images/icons/small3.svg" alt="small">
                                    </div>
                                    <div>
                                        <h3 class="fw-medium">
                                            Small Class Sizes
                                        </h3>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="box d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="images/icons/learning3.svg" alt="learning">
                                    </div>
                                    <div>
                                        <h3 class="fw-medium">
                                            Immersive Learning
                                        </h3>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="box d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="images/icons/cultural.svg" alt="cultural">
                                    </div>
                                    <div>
                                        <h3 class="fw-medium">
                                            Cultural Immersion
                                        </h3>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="mfp-bg mfp-fade mfp-ready" *ngIf="isOpen"></div>
<div
    class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-fade mfp-ready"
    *ngIf="isOpen"
    tabindex="-1"
>
    <div class="mfp-container mfp-iframe-holder">
        <div class="mfp-content">
            <div class="mfp-iframe-scaler">
                <button
                    (click)="closePopup()"
                    title="Close (Esc)"
                    type="button"
                    class="mfp-close"
                >
                    ×
                </button>
                <iframe src="https://www.youtube.com/embed/YDXQ_nociO4" title="Web Design Trends 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>