<div class="partners-area">
    <div class="container-fluid">
        <div class="partners-slides">
            <owl-carousel-o [options]="partnersSlides">
                <ng-template carouselSlide>
                    <div class="single-partner-item d-flex align-items-center justify-content-between">
                        <img src="images/partners/partner1.svg" alt="partner-image">
                        <img src="images/partners/star.svg" alt="star">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item d-flex align-items-center justify-content-between">
                        <img src="images/partners/partner2.svg" alt="partner-image">
                        <img src="images/partners/star.svg" alt="star">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item d-flex align-items-center justify-content-between">
                        <img src="images/partners/partner3.svg" alt="partner-image">
                        <img src="images/partners/star.svg" alt="star">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item d-flex align-items-center justify-content-between">
                        <img src="images/partners/partner4.svg" alt="partner-image">
                        <img src="images/partners/star.svg" alt="star">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item d-flex align-items-center justify-content-between">
                        <img src="images/partners/partner5.svg" alt="partner-image">
                        <img src="images/partners/star.svg" alt="star">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item d-flex align-items-center justify-content-between">
                        <img src="images/partners/partner6.svg" alt="partner-image">
                        <img src="images/partners/star.svg" alt="star">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-partner-item d-flex align-items-center justify-content-between">
                        <img src="images/partners/partner7.svg" alt="partner-image">
                        <img src="images/partners/star.svg" alt="star">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>