<div class="testimonials-area ptb-120">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="fs-32 fw-semibold mx-auto mb-0 text-uppercase">
                In Their Own Words: Student Testimonials
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="testimonials-slides position-relative">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user10.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Caryn Zoeller
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user11.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Jill Brooks
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user12.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Fredric Kilgore
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user13.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Viola Normandin
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user10.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Caryn Zoeller
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user11.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Jill Brooks
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user12.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Fredric Kilgore
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user13.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Viola Normandin
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user10.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Caryn Zoeller
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user11.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Jill Brooks
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user12.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Fredric Kilgore
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonial-item">
                        <img src="images/icons/stars-5.svg" alt="star">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="info d-flex align-items-center">
                            <img src="images/users/user13.jpg" class="rounded-circle" alt="user-image">
                            <div>
                                <h4 class="fw-medium">
                                    Viola Normandin
                                </h4>
                                <span class="d-block">
                                    Ex-Student
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>