<div class="mission-area pb-120">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-xl-8 col-md-12 px-0">
                <div class="mission-content">
                    <div class="content">
                        <h2 class="fw-semibold text-uppercase">
                            Discover Our Mission Connecting Through 
                        </h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="box mb-25">
                                    <div class="text d-flex align-items-center">
                                        <div class="icon">
                                            <img src="images/icons/point.svg" alt="point">
                                        </div>
                                        <div>
                                            <span class="number d-block fw-semibold">
                                                12k +
                                            </span>
                                            <span class="d-block">
                                                Courses Completed
                                            </span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3 class="fw-semibold">
                                            Enhance The Online Learning
                                        </h3>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="box mb-25">
                                    <div class="text d-flex align-items-center">
                                        <div class="icon">
                                            <img src="images/icons/point2.svg" alt="point2">
                                        </div>
                                        <div>
                                            <span class="number d-block fw-semibold">
                                                15Y +
                                            </span>
                                            <span class="d-block">
                                                Years Experience 
                                            </span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3 class="fw-semibold">
                                            Enhance The Online Learning
                                        </h3>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="box mb-25">
                                    <div class="text d-flex align-items-center">
                                        <div class="icon">
                                            <img src="images/icons/point3.svg" alt="point3">
                                        </div>
                                        <div>
                                            <span class="number d-block fw-semibold">
                                                90 +
                                            </span>
                                            <span class="d-block">
                                                Winning Award
                                            </span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3 class="fw-semibold">
                                            Enhance The Online Learning
                                        </h3>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="box mb-25">
                                    <div class="text d-flex align-items-center">
                                        <div class="icon">
                                            <img src="images/icons/point4.svg" alt="point4">
                                        </div>
                                        <div>
                                            <span class="number d-block fw-semibold">
                                                30k +
                                            </span>
                                            <span class="d-block">
                                                Happy Students
                                            </span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3 class="fw-semibold">
                                            Enhance The Online Learning
                                        </h3>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 px-0">
                <div class="mission-image">
                    <img src="images/mission.jpg" alt="mission-image">
                </div>
            </div>
        </div>
    </div>
</div>