<div class="main-banner-area position-relative z-1">
    <div class="container">
        <div class="main-banner-content text-center">
            <h1>
                Begin Your Multicultural Odyssey Here
            </h1>
            <p class="mx-auto">
                Embark on a Multilingual Journey: Where Language Mastery Opens Doors to Boundless Opportunities
            </p>
            <div class="btn-box">
                <a routerLink="/contact" class="default-btn">
                    Get In Touch
                </a>
                <a routerLink="/courses" class="default-btn">
                    Enroll Now
                </a>
            </div>
        </div>
        <div class="main-banner-image text-center">
            <img src="images/banners/banner2.png" alt="banner-image">
        </div>
    </div>
    <div class="shape4">
        <img src="images/shapes/shape4.svg" alt="shape4">
    </div>
    <div class="shape5">
        <img src="images/shapes/shape5.svg" alt="shape5">
    </div>
</div>