<app-navbar />

<app-page-banner />

<div class="pb-120 border-bottom"></div>

<!-- Course Details -->
<div class="course-details-area bg-f3f3f3 ptb-120">
  <div class="container">
    <div class="row">
   

      <div class="col-lg-20 col-md">
        <div class="course-details-desc">
          <!-- Expert Form -->
          <div class="bg-white p-5 rounded shadow-sm">
            <h4 class="mb-4 fw-bold text-primary">Ajouter une Brevet</h4>
           <div class="table-responsive">
    <table class="table table-bordered table-striped align-middle text-center">
      <thead class="table-success">
        <tr>
          <th>Numéro</th>
          <th>Titre</th>
          <th>Année</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
              @for(i of BrevetList | paginate: { id: 'pagination2', itemsPerPage: 6, currentPage: p2} ;track i){

      <tbody>
        <!-- Example row -->
        <tr>
          <td>{{i.Numero}}</td>
          <td>{{i.Titre}}</td>
          <td>{{i.Annee}}</td>
          <td>{{i.Type}}</td>
         
          <td>
            <a style="cursor: pointer;"  (click)=" updateData(i.ID)" title="Modifier">
              <i class="fa-solid fa-pen-to-square me-2 text-primary"></i>
            </a>
            <a style="cursor: pointer;"  (click)="DeleteData(i.ID)"  title="Supprimer">
              <i class="fa-solid fa-trash me-2 text-danger"></i>
            </a>
          </td>
        </tr>
        <!-- Add more rows dynamically if needed -->
      </tbody>
       }
    </table>
   <pagination-controls
                (pageChange)="p2 = $event"
                previousLabel="Précédent"
                id="pagination2"
                nextLabel="Suivant"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="page actuelle">
              </pagination-controls>

  </div>
          </div>
          <!-- End Expert Form -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Course Details -->

<app-back-to-top />
