<div class="banner-wrapper-area">
    <div class="container">
        <div class="banner-wrapper-content mx-auto position-relative">
            <h1 class="mb-0 fw-semibold text-uppercase">
                Elevate Your Global Experience Through <span class="fw-bold">Language</span>
            </h1>
        </div>
        <div class="banner-wrapper-images position-relative">
            <div class="row align-items-end">
                <div class="col-sm-6">
                    <div class="image">
                        <img src="images/banners/banner3.png" alt="banner-image">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="image">
                        <img src="images/banners/banner4.jpg" alt="banner-image">
                    </div>
                </div>
            </div>
            <a routerLink="/courses" class="link-btn d-inline-block text-center rounded-circle fw-medium">
                <span class="d-block">
                    Explore All Courses
                </span>
                <img src="images/icons/white-diagonal-arrow-right-up.svg" alt="diagonal-arrow-right-up">
            </a>
        </div>
    </div>
</div>