<app-navbar />

<app-page-banner />

<div class="pb-120 border-bottom"></div>

<!-- Team -->
<div class="team-area bg-f3f3f3 pt-120 pb-95 border-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team1.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Aleid Batsaikhan
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team2.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Erica Castellanos
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team3.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Cillian Czeslaw
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team4.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Daithi Ermenegildo
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team8.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Aleid Batsaikhan
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team9.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Erica Castellanos
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team10.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Cillian Czeslaw
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team11.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Daithi Ermenegildo
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team12.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Aleid Batsaikhan
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team13.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Erica Castellanos
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team14.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Cillian Czeslaw
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member text-center mb-25 position-relative">
                    <img src="images/teams/team15.jpg" alt="team-image">
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                Daithi Ermenegildo
                            </a>
                        </h3>
                        <span class="d-block">
                            Instructor
                        </span>
                        <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" target="_blank" class="d-block rounded-circle">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team -->

<div class="pb-120 pt-40 text-center">
    <div class="container">
        <a routerLink="/contact" class="default-btn">
            Join With Us
        </a>
    </div>
</div>

<app-footer />

<app-back-to-top />