<div class="pricing-area bg-f3f3f3 pt-120 pb-95">
    <div class="container">
        <div class="section-title">
            <div class="title">
                <h2 class="fs-32 mb-0 fw-semibold text-uppercase">
                    Understanding Our Pricing
                </h2>
            </div>
        </div>
        <div class="pricing-boxes-list">
            <div class="single-pricing-box">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <h3 class="price mb-0 fw-semibold">
                            $500
                        </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="title mb-0 fw-semibold text-lg-center">
                            Short Course
                        </h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-8">
                        <ul class="features-list p-0 mb-0 list-unstyled">
                            <li>
                                <span class="d-block position-relative">
                                    Flexible Pricing Plans
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Transparent Pricing
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Value for Money
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Special Offers
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-4 text-sm-end">
                        <a routerLink="." class="link-btn d-inline-block text-center rounded-circle fw-medium">
                            <span class="d-block">
                                Buy Now
                            </span>
                            <img src="images/icons/diagonal-arrow-right-up.svg" alt="diagonal-arrow-right-up">
                        </a>
                    </div>
                </div>
            </div>
            <div class="single-pricing-box">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <h3 class="price mb-0 fw-semibold">
                            $500
                        </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="title mb-0 fw-semibold text-lg-center">
                            Long Course
                        </h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-8">
                        <ul class="features-list p-0 mb-0 list-unstyled">
                            <li>
                                <span class="d-block position-relative">
                                    Flexible Pricing Plans
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Transparent Pricing
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Value for Money
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Special Offers
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-4 text-sm-end">
                        <a routerLink="." class="link-btn d-inline-block text-center rounded-circle fw-medium">
                            <span class="d-block">
                                Buy Now
                            </span>
                            <img src="images/icons/diagonal-arrow-right-up.svg" alt="diagonal-arrow-right-up">
                        </a>
                    </div>
                </div>
            </div>
            <div class="single-pricing-box">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <h3 class="price mb-0 fw-semibold">
                            $500
                        </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="title mb-0 fw-semibold text-lg-center">
                            Diploma Course
                        </h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-8">
                        <ul class="features-list p-0 mb-0 list-unstyled">
                            <li>
                                <span class="d-block position-relative">
                                    Flexible Pricing Plans
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Transparent Pricing
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Value for Money
                                </span>
                            </li>
                            <li>
                                <span class="d-block position-relative">
                                    Special Offers
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-4 text-sm-end">
                        <a routerLink="." class="link-btn d-inline-block text-center rounded-circle fw-medium">
                            <span class="d-block">
                                Buy Now
                            </span>
                            <img src="images/icons/diagonal-arrow-right-up.svg" alt="diagonal-arrow-right-up">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>