<div class="blog-area bg-f3f3f3 border-top pt-120 pb-95">
    <div class="container">
        <div class="section-title mb-40 text-center">
            <h2 class="fw-semibold mx-auto mb-0 text-uppercase">
                More Blogs
            </h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="single-blog-post mb-25">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/blogs/blog7.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="info position-relative">
                            <ul class="d-flex align-items-center p-0 mb-0 list-unstyled">
                                <li class="d-inline-block position-relative">
                                    25 <br>Jun
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-circle-user"></i> By
                                    <a routerLink="/blog">
                                        Admin
                                    </a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <a routerLink="/blog-details">
                                        Comments (05)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="fw-semibold">
                            <a routerLink="/blog-details">
                                Uncover The Power of Idioms in Language Expression
                            </a>
                        </h3>
                        <div class="text-end">
                            <a routerLink="/blog-details" class="default-btn">
                                Continue Reading
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single-blog-post mb-25">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/blogs/blog8.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="info position-relative">
                            <ul class="d-flex align-items-center p-0 mb-0 list-unstyled">
                                <li class="d-inline-block position-relative">
                                    25 <br>Jun
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-circle-user"></i> By
                                    <a routerLink="/blog">
                                        Admin
                                    </a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <a routerLink="/blog-details">
                                        Comments (05)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="fw-semibold">
                            <a routerLink="/blog-details">
                                Tips Overcoming Common Learning Challenges
                            </a>
                        </h3>
                        <div class="text-end">
                            <a routerLink="/blog-details" class="default-btn">
                                Continue Reading
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single-blog-post mb-25">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/blogs/blog9.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="info position-relative">
                            <ul class="d-flex align-items-center p-0 mb-0 list-unstyled">
                                <li class="d-inline-block position-relative">
                                    25 <br>Jun
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-circle-user"></i> By
                                    <a routerLink="/blog">
                                        Admin
                                    </a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <a routerLink="/blog-details">
                                        Comments (05)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="fw-semibold">
                            <a routerLink="/blog-details">
                                A Guide to Conversational Fluency Abroad
                            </a>
                        </h3>
                        <div class="text-end">
                            <a routerLink="/blog-details" class="default-btn">
                                Continue Reading
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>